<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.dance-bot</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__REPO_ROOT__/scripts/run_dance_bot.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__REPO_ROOT__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:__HOME__/.local/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>__START_INTERVAL__</integer>
	<key>StandardOutPath</key>
	<string>__REPO_ROOT__/data/launchd.log</string>
	<key>StandardErrorPath</key>
	<string>__REPO_ROOT__/data/launchd.log</string>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
